<div id="header">
    <img src="/imagenes/logo_grande.jpg" alt="logo"/><br>
    <font face= "tahoma">Eventos Programados</font>
</div>

<% @eventos.each do |evento| %>
    <div class="post_wrapper">
        <h2 class="title">
            <%= link_to evento.title, evento %>
        </h2>
        <p class="description">
            <%= evento.description %>
        </p>
        <p class="date">
            <%= post.created_at.strftime("%B, %d, %Y") %>
        </p>
    </div>
<% end %>

<style>
    #header {
        background-color:white;
        color: #1551A0;
        text-align: center;
        padding:5px;
        font-size: 200%;
    }
    
</style>